{#
/**
 * @file
 * Default theme implementation to present a bookable calendar opening instance entity.
 *
 * This template is used when viewing a canonical bookable calendar opening instance page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bookable_calendar_opening_inst()
 */
#}
{{ attach_library('bookable_calendar/default') }}
<div{{ attributes.addClass('bookable-calendar-opening-instance') }}
  data-opening-instance="{{ bookable_calendar_opening_inst_id }}"
  data-max-party-size="{{ bookable_calendar_max_party_size }}"
  data-slots-as-parties="{{ bookable_calendar_slots_as_parties }}">
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
